<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kids</title>
  </head>
  <body>
    <header>
      <nav>
        <h2>Myntra</h2>
        <ul>
          <li><a href="/" class="">Home</a></li>
          <li><a href="/mens" class="active">Mens</a></li>
          <li><a href="/womens" class="">Womens</a></li>
          <li><a href="/kids" class="active">Kids</a></li>
          <li><a href="/login" class="">log In</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h1>Kids page</h1>
      </section>
    </main>
  </body>
</html>
